$theme-colors: (
  "primary": #24d61e,
  "danger": #e34d5c,
  "success": #24d61e,
  "warning": #cde34d
);

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Source+Sans+Pro&display=swap');

$white: #fff;
$green: #79b758;
$orange: #f58742;
$yellow: #cde34d;
$red: #e34d5c;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $green;
}

a {
  color: $orange;
}

Table {
  color: $red;
}

Card {
  // margin: 10px;
  padding: 0;
  min-height: 150px;
}

Navbar {
  color: #fafaed;
}

.allium {
  color: lightpink;
  font-size: 48px;
}

.anemone {
  color: hotpink;
  font-size: 48px;
}

.azalea {
  color: plum;
  font-size: 48px;
}

.begonia {
  color: orchid;
  font-size: 48px;
}

.chrysanthemum {
  color: mediumpurple;
  font-size: 48px;
}

.coneflower {
  color: salmon;
  font-size: 48px;
}

.crocus {
  color: darksalmon;
  font-size: 48px;
}

.daffodil {
  color: orange;
  font-size: 48px;
}

.dahlia {
  color: coral;
  font-size: 48px;
}

.daylily {
  color: gold;
  font-size: 48px;
}

.forsythia {
  color: greenyellow;
  font-size: 48px;
}

.geranium {
  color: lime;
  font-size: 48px;
}

.gladiolus {
  color: palegreen;
  font-size: 48px;
}

.hosta {
  color: mediumspringgreen;
  font-size: 48px;
}

.hydrangea {
  color: mediumseagreen;
  font-size: 48px;
}

.impatiens {
  color: yellowgreen;
  font-size: 48px;
}

.iris {
  color: mediumaquamarine;
  font-size: 48px;
}

.liatris {
  color: lightseagreen;
  font-size: 48px;
}

.lilac {
  color: cyan;
  font-size: 48px;
}

.lily {
  color: lightcyan;
  font-size: 48px;
}

.marigold {
  color: aquamarine;
  font-size: 48px;
}

.morning {
  color: turquoise;
  font-size: 48px;
}

.peony {
  color: lightsteelblue;
  font-size: 48px;
}

.petunia {
  color: lightskyblue;
  font-size: 48px;
}

.phlox {
  color: deepskyblue;
  font-size: 48px;
}

.ranunculous {
  color: sandybrown;
  font-size: 48px;
}

.rose {
  color: rosybrown;
  font-size: 48px;
}

.sunflower {
  color: fuchsia;
  font-size: 48px;
}

.tulip {
  color: thistle;
  font-size: 48px;
}

.form-control {
  color: $green;
}

.title {
  font-family: 'Comfortaa', sans-serif;
}
