$theme-colors: (
  "primary": #24d61e,
  "danger": #e34d5c,
  "success": #24d61e,
  "warning": #cde34d
);

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Source+Sans+Pro&display=swap');

$white: #fff;
$green: #79b758;
$orange: #f58742;
$yellow: #cde34d;
$red: #e34d5c;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $green;
}

a {
  color: $orange;
}

Table {
  color: $red;
}

Card {
  // margin: 10px;
  padding: 0;
  min-height: 150px;
}

Navbar {
  color: #fafaed;
}

.tulip {
  color: #e85193;
  font-size: 48px;
}

.daffodil {
  color: #e8b351;
  font-size: 48px;
}

.crocus {
  color: #c5e851;
  font-size: 48px;
}

.lilac {
  color: #51e87c;
  font-size: 48px;
}

.peony {
  color: #51d4e8;
  font-size: 48px;
}

.rose {
  color: #a865f0;
  font-size: 48px;
}

.form-control {
  color: $green;
}

.title {
  font-family: 'Comfortaa', sans-serif;
}
