$theme-colors: (
  "primary": #24d61e,
  "danger": #e34d5c,
  "success": #24d61e,
  "warning": #cde34d
);

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Source+Sans+Pro&display=swap');

$white: #fff;
$green: #79b758;
$orange: #f58742;
$yellow: #cde34d;
$red: #e34d5c;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $green;
}

a {
  color: $orange;
}

Table {
  color: $red;
}

Card {
  margin: 10px;
  min-height: 150px;
}

Navbar {
  color: #fafaed;
}

.flower {
  font-size: 48px;
}

.form-control {
  color: $green;
}

.title {
  font-family: 'Comfortaa', sans-serif;
}
